<div class="custom-middle" style="margin-bottom: 2rem; margin-top:4rem;">
    <h2 style="text-align: center; border:none;">Ihre Geschichte eindrucksvoll erzählt.</h2>
    <h1 style="text-align: center; ">Was hast du zu erzählen?</h1>
    <div style="height: 2px; background-color: #ccc; margin: 1rem 10rem;"></div>


    <p>Sie wollen Ihr Unternehmen vorstellen, besondere Momente festhalten oder Inhalte professionell vermitteln? Mit langjähriger Erfahrung in Fotografie, Videografie und Live-Streaming setze ich Ihre Projekte individuell und wirkungsvoll um.</p>
    <p>Gemeinsam bringen wir Ihre Botschaft ins perfekte Bild. Ob Imagefilm, Eventdokumentation oder Content für Social Media – ich biete Ihnen kreative Lösungen mit hochwertiger Technik und persönlichem Engagement. Gemeinsam bringen wir Ihre Botschaft ins perfekte Bild.</p>
</div>  

