<div class="custom-intro" style="display: flex; align-items: center; margin-bottom: 2rem;">
  <img src="/assets/images/DSC00876_2_quad.png" alt="Rundes Bild" style="width: 350px; height: 350px; object-fit: cover; margin-right: 1.5rem;">
  <div class="intro-text">
    <h2>Moin, ich bin Lennart!</h2>
    <br>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  </div>
</div>
