<div class="custom-intro" style="display: flex; align-items: center; margin-bottom: 2rem;">
  <img src="/assets/images/DSC00876_2_quad.png" alt="Rundes Bild" style="width: 350px; height: 350px; object-fit: cover; margin-right: 1.5rem;">
  <div class="intro-text">
    <h2>Moin, ich bin Lennart!</h2>
    <br>
    <p>Seit vielen Jahren setze ich Projekte rund um Medienproduktion um. Ob Fotografie, Videografie oder Live-Streaming – mein Anspruch sind individuelle Lösungen und professionelle Ergebnisse für jedes Projekt.</p>
  </div>
</div>
